.App {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Chat {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  height: 80%;
}

.u-card {
  box-shadow: 0 19px 38px rgba(100, 100, 100, 0.3),
    0 15px 12px rgba(100, 100, 100, 0.1);
  background-color: white;
  border-radius: 10px;
}

.Chat__Column {
  width: 70%;
  flex-shrink: 0;
}

.loginForm {
  min-width: 300px;
  position: relative;
}

.login__input {
  padding: 25px 20px;
  font-size: 16px;
  width: 100%;
  border-radius: 40px;
  border: 0;
  box-shadow: 0 19px 38px rgba(100, 100, 100, 0.3),
    0 15px 12px rgba(100, 100, 100, 0.1);
  background-color: #f6e262;
  font-weight: 600;
  box-sizing: border-box;
}

.login__input:focus {
  outline: none;
}

.loginForm .login__button {
  position: absolute;
  right: -30px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(50, 50, 50, 0.3), 0 2px 6px rgba(50, 50, 50, 0.1);
  top: 12%;
  border: 0;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.login__button:active,
.login__button:focus {
  outline: none;
}

@media screen and (min-width: 320px) and (max-width: 700px) {
  .Chat {
    flex-direction: column-reverse;
  }
  .Chat__Column {
    width: 100%;
    justify-content: center;
  }
}
