.messages {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: flex-end;
}

.messages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-direction: column-reverse;
  align-items: flex-end;
  overflow-y: scroll;
  box-sizing: border-box;
  max-height: 80vh;
  width: 100%;
  padding: 20px 30px;
}

.messages__message {
  padding: 10px 25px;
  width: 100%;
  margin-bottom: 20px;
  position: sticky;
  box-sizing: border-box;
}

.message__text {
}
.message__user {
  display: block;
  font-size: 13px;
  color: #999;
  font-weight: 600;
  margin-bottom: 5px;
}
