.connectedUsers {
}

.connectedUsers .connectedUsers__title {
  color: rgb(39, 39, 39);
}

.connectedUsers .connectedUsers__list {
  background-color: white;
  border-radius: 10px;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 0 19px 38px rgba(100, 100, 100, 0.3),
    0 15px 12px rgba(100, 100, 100, 0.1);
}

.connectedUsers .connectedUsers__user {
  margin-bottom: 10px;
}
.connectedUsers .connectedUsers__user:last-child {
  margin-bottom: 0;
}
